body {
  background-color: FloralWhite;
  font-family: "Ubuntu"
}

#mainContainer {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 90%;
  border: 1px solid black;
}

#anglePrint {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  font-size: 250%;
  color: SlateGrey;
}
